@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --navbar-height: 64px;  /* Definir la variable globalmente */
  --dominant-color: rgb(36, 36, 36);
  --banner-image: none;
}

.navbar {
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  background: linear-gradient(180deg, rgba(36, 36, 36, 1) 0%, rgba(36, 36, 36, 0.9) 81%) !important;
  box-shadow: none !important;
}

.movie-poster {
  height: 11rem;
  box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.51);
}

.navbar-title {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.navbar-content {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: .5rem;
  align-items: center;
}

.movie-search-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10rem;
}

.css-jcwuwq-MuiButtonBase-root-MuiButton-root {
  width: 100%;
}

.search-options {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 30vw;
  padding: .4rem 0;
}

.search-options-container {
  align-self: center;
  transition: 0.3s ease !important;
}

.navbar-logo-container {
  display: flex;
}

@media (max-width: 768px) {}


/*movie details*/
.movie-backdrop {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.movie-title {
  font-size: 4.5rem !important;
}
.movie-info {
  padding-top: .3rem;
}
.movie-overview {
  width: 80% !important;
  text-align: justify;
  text-indent: 1rem;
}

.movie-details-container {
  position: relative;
  height: 100%;
}

.mtop {
  margin-top: 1rem !important;
}

.mbottom {
  margin-bottom: 1rem !important;
}
.mbottom-2 {
  margin-bottom: 2rem !important;
}
.mbottom-3 {
  margin-bottom: 3rem !important;
}
.mtop-m {
  margin-top: -.4rem !important;
}

.sec-font {
  font-size: .9rem;
}
.title {
  font-size: 2rem ;
}

.navbar {
  width: 100%;
}

.toggle-button {
  display: block;
  position: absolute !important;
  height: 2rem;
  top: 0;
  right: 0;
  margin-top: .4rem !important;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  min-height: calc(100vh - var(--navbar-height) - 7rem);

}

.movie-item {
  width: 16rem;
  height: 20rem;
  margin-top: 1rem;
}

.movie-link {
  text-decoration: none;
  color: inherit;
}

.toggle-buttons-container,
.jcenter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.movie-details-container {
  position: relative;
  overflow: hidden;
}

.movie-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
}

.movie-details {
  position: relative;
  padding: 2rem;
  z-index: 1;
  color: white;
}

.movie-title {
  font-size: 3.5rem;
}

.movie-overview {
  width: 50%;
}



.css-zryp6 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.movie-details-text {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-data {
  display: flex;
}

.movie-poster-container {
  width: 35vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  height: 40rem;
}

@media (max-width: 768px) {
  .movie-overview {
    width: 100% !important;
  }

  .search-options {
    width: 90vw;
  }

  .movie-data {
    flex-direction: column-reverse;
    align-items: center;
  }

  .movie-details-text {
    width: 90vw;
  }

  .movie-poster {
    height: 19rem;
  }

  .movie-title {
    font-size: 1.3rem !important;
    text-align: center;
    line-height: 1.2 !important;
    margin-top: 1rem !important;
  }


}

.actor-details-container {
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
}

.actor-details {
  position: relative;
  padding: 2rem;
  z-index: 1;
  color: white;
  margin-top: calc(var(--navbar-height) + 1rem);
  display: flex;
}

.actor-details-text {
  width: 75vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actor-title {
  font-size: 2rem;
}

.actor-data {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.actor-data-text {

  text-align: justify;
  text-indent: 1rem;
}

.actor-details-poster {
  padding-top: 1rem;
  width: 25vw !important;
  height: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.actor-poster {
  height: 17rem;
}

.person-movies-text {
  text-align: center;
}

.link {
  text-decoration: none;
  background-color: rgba(152, 152, 152, 0.9);
  padding: .2rem;
  border-radius: .5rem !important;
  color: black;
}

.actor-details-info {
  text-align: start;
  padding: .5rem 0;
}

.text-italic {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  font-style: italic;
}

.text-bold {
  font-weight: 700;
  font-style: italic;
}
.text-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.mright-text {
  padding-right: .2rem !important;
}

.nav-buttons {
  display: flex;
  gap: .5rem;
}

.css-xx7l7s-MuiCardMedia-root {
  width: 18rem !important;
}
.modal-content {
  border: none;
  outline: none;
  overflow: hidden;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-iframe-container {
  display: flex;
  flex-direction: column;
  align-items: center ;
}
.video-iframe {
  width: 50%;
  height: 40rem;
  border: none;
}
.footer-container {
  /*background-color: red;*/
  padding: 1rem 0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  z-index: 100;
}
.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-center-c {
  flex-direction: column  ;
}
.m1 {
  margin: 1rem;
}
.mtop2 {
  margin-top: 2rem !important;
}
.footer-links {
  gap: 1rem;
  text-decoration: none;
  padding: 1rem 0;
}
.footer-link {
  text-decoration: none; 
}
.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-size-1 {
  font-size: 1.8rem;
}
.provider-img {
  border-radius: 100%;
}
.text-center {
  text-align: center;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-providers {
  gap: 1rem;
}
.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
  position: relative;
  overflow: hidden;
  margin-right: 1rem;
}
.banner-text-container {
  z-index: 1;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel .control-arrow {
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-img-container {
  position: relative;
  width: 100%;
  height: 80vh;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    transparent 100%
  );
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.banner-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  z-index: 3;
  position: relative;
}

.movie-info p {
  color: white;
  z-index: 3;
  position: relative;
}

.banner-img-container:hover .movie-info {
  opacity: 1;
}

.banner-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: top;
  border-radius: 0.5rem;
}

.carousel {
  width: 60vw;
  height: 80vh;
  border-radius: 0.5rem;
  padding: 0 !important;
  margin: 0 !important;
}

.banner-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    transparent 100%
  );
  pointer-events: none; /* Permite que los clics pasen a través del overlay */
}
.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.genre-selector-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.genre-selector {
  display: flex;
  transition: transform 0.3s ease;
}

.genre-button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.genre-button.selected {
  background-color: #007bff;
  color: white;
  font-size: 18px; /* Increase font size when selected */
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}
.genre-movies-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  justify-content: center;
}
.genre-container {
  width: 50vw;
}
.genre-img-grid {
  width: 100%;
  height: 10rem;
  object-fit:cover;
  border-radius: 1rem;

}
.genre-movie-title {
  opacity: 0;
  border-radius: 1rem;
  &:hover {
    transition: 120ms ease-in;
    opacity: 1;
  }
}

/*person-gallery-container*/


.w50 {
  width: 50vw;
}

.person-gallery-container {
  display: flex;
  width: 50vw;
  height: 430px;
  border-radius: 1rem;
  overflow: hidden;
}

.person-item {
  position: relative;
  width: 0;
  flex-grow: 1;
  overflow: hidden;
  transition: width 0.5s ease;
}

.person-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  transition: opacity 0.5s ease;
}

.person-item img:hover {
  cursor: pointer;
  opacity: 1;
  filter: contrast(100%);
}

.person-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.person-item:hover .person-name {
  opacity: 1;
}

.person-item:hover {
  width: 300px;
}
.go-top-arrow {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 0.5rem;
  padding: 1rem;
  color: white; /* Color del texto */
  box-shadow: none !important; /* Eliminar sombra y forzar con !important */
  cursor: pointer;
  z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .3;
  transition: 120ms ease-in;
  &:hover {
    opacity: 1;
    box-shadow: none !important; /* Asegurar que no haya sombra en hover */
  }
}

.carousel-arrow-prev,
.carousel-arrow-next {
  font-size: 1.5rem;
}

.carousel:hover .carousel-arrow-prev,
.carousel:hover .carousel-arrow-next {
  opacity: 1;
}

.actor-list-container {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.actor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 20rem;
}
.loader-container {
  height: calc(100vh - var(--navbar-height));
}

.home {
    position: relative;
    min-height: calc(100vh - var(--navbar-height)) !important;
    z-index: 1;
}

.home::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--banner-image);
    background-size: cover;
    background-position: center;
    filter: blur(80px) brightness(0.7);
    transform: scale(1.1);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    z-index: 0;
}

/* Asegurar que el contenido esté por encima del fondo */
.home > * {
    position: relative;
    z-index: 2;
}
.movie-details-container {
  display: flex;
  align-items: center;
}
.mtop-3 {
  margin-top: 3rem !important;
}

.footer-container {
    position: relative;
    z-index: 2;
}
.red-hover {
  &:hover {
    color: red;
  }
}
.blue-hover {
  &:hover {
    color: #166bc5;
  }
}
.green-hover {
  &:hover {
    color: #38d353;
  }
}
.css-1qm1lh {
  margin-bottom:  0 !important;
}
.movie-finder {
  transition: 120ms ease-in;
}

.movie-finder:hover, 
.movie-finder:hover svg {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff,
               0 0 10px #ffffff,
               0 0 20px #ffffff;
  filter: drop-shadow(10px 30px 30px #ffffff);
  animation: neonFlicker 5s infinite alternate;
}

@keyframes neonFlicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff,
                 0 0 10px #ffffff,
                 0 0 20px #ffffff;
  }
  20%, 24%, 55% {
    color: #808080;
    text-shadow: none;
  }
}

